body {
    font-family: 'Lato', sans-serif;
}

.main-header {
    text-align: center;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-container, .right-container {
    width: 20%;
}



.img-container {
    border: solid 2px black;
    margin-bottom: 20px;
}

#poke-img {
    width: 100%;
}

.pokemon-name-container {
    background-color: #e8e8e8;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}

#pokemon-name {
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.type-header {
    font-size: 16px;
}

.type-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.type-span {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.pokemon-selector-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.button-container {
    display: flex;
    background-color: #e8e8e8;
    width: 100px;
    height: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.arrow-png {
    width: 30px;
}

#right-header {
    font-size: 20px;
    text-align: center;
}

#information-container {
    background-color:#e8e8e8;
    padding: 15px;
    height: 300px;
    overflow-x: hidden;
}

p {
    margin: 0;
}